@model IEnumerable<WebApplication1.Models.Qdb>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")|
        @Html.ActionLink("blocks", "Index", "blocks")|
        @Html.ActionLink("ODBs", "Index", "ODB")|
        @Html.ActionLink("EffectorsDbs", "Index", "EffectorsDbs")|

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameofsymp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameofsymp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SymptomId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SymptomId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SymptomId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
